.top {
    border-bottom: 1px solid gray;
    font-size: 12px !important;
    padding: 10px;
}

.top button {
    border: none;
    position: relative;
    padding-right: 10px;
    margin-right: 10px;
    font-size: 12px;
    display: flex;
    align-items: center;

}

/*设置所有子元素样式*/
.top  >* {
 flex-shrink: 0;
}


#exportImage:after{
    display: none;
}
.top button:after {
    position: absolute;
    content: '';
    height: 10px;
    width: 2px;
    background-color: rgb(214, 214, 214);
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.icon-home {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("../images/icons.png");
    background-position: 0 -51px;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("../images/icons.png");
}

.icon-next {
    background-position: 0 -70px;
}

.icon-next-page {
    background-position: 0 -90px;
}

.icon-last {
    background-position: 0 -108px;
}

.icon-print {
    background-position: 0 -162px;
}

.icon-print1 {
    background-position: 0 -379px;
}

.icon-download {
    background-position: 0 -396px;
}

.icon-email {
    background-position: 0 -415px;
}



#pageInfo {
    color: black;
    position: relative;
    padding-right: 30px;
}

#pageInfo:after {
    position: absolute;
    content: '';
    height: 10px;
    width: 2px;
    background-color: rgb(214, 214, 214);
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

#pageInfo input {
    width: 50px;
    color: black;
    font-size: 12px;
    border: 1px solid rgb(204, 205, 215);
    margin-right: 15px;
}

.page-info {
    font-size: 12px;
    margin-right: 10px;
}
